

    <div class="container">
      <img src="assets/images/header-bg.png">
    </div>
    <swiper-container slides-per-view="4">
      <swiper-slide *ngFor="let category of categories">
        <ion-avatar>
          <img alt="Silhouette of a person's head" src={{category.img}} />
        </ion-avatar>
        <ion-title  size="small">{{category.name}}</ion-title>
      </swiper-slide>
    </swiper-container>
   
      <ion-grid>
      <ion-row>
        <ion-col *ngFor="let product of products"><ion-card>
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          <ion-card-header>
            <ion-card-title>Card Title</ion-card-title>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
          </ion-card-content>
        </ion-card></ion-col>
      </ion-row>
    </ion-grid>


